@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&family=Sofia+Sans:wght@400;500;600&family=Sriracha&display=swap');

:root {
  /* colors */
  --background: #f4f2EC;
  --title:#4690ff;
  --subtitle: #DE0046;
  --background-cards: rgb(221, 221, 221);
  --text-primary: #313539;
  --text-secondary: rgb(94, 94, 94);
  --text-tertiary: #f4f2EC;

  /* fonts */
  --font-family-title: 'Sofia Sans', sans-serif;
  --font-family-mono: 'League Spartan', sans-serif;
  --font-family-cursive: 'Sriracha', cursive;

  /* weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* color butons */
  --button-principal: #4690ff;
  --button-principal-hover: #4690ff9c;
  --button-secondary: #DE0046;
  --button-secondary-hover: #de004687;
}

[data-theme = 'dark']{
  --background: #15191e;
  --title:#4f61ff;
  --subtitle: #d81a56;
  --background-cards: rgba(37, 37, 37, 0.328);
  
  --text-primary: #e0e0e0;
  --text-secondary: rgb(176, 176, 176);

  --button-principal: #4f61ff;
  --button-principal-hover: #4f61ffa7;
  --button-secondary: #DE0046;
  --button-secondary-hover: #de004687;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth!important;
  }